<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Bar</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="searchStyle.css">
</head>
<body>

<div id="app">
    <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="Search movie title.."/>
        <label>Search movie:</label>
    </div>
    <div class="wrapper">
        <div class="card" v-for="post in filteredList">
            <a v-bind:href="post.link" target="_blank">
                <img v-bind:src="post.img"/>
                <!-- ><small>posted by: {{ post.author }}</small>
                {{ post.title }} <-->
            </a>
        </div>
    </div>
</div>
<script src="searchScript.js"></script>
</body>
</html>