body {
    font-family: Verdana, Arial, "sans-serif";
}
div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div#app .search-wrapper {
    position: relative;
}

div#app .search-wrapper input {
    padding: 4px 12px;
    color: rgba(0, 0, 0, .70);
    border: 1px solid rgba(0, 0, 0, .12);
    transition: 0.15s all ease-in-out;
    background: white;
}
div#app .search-wrapper input:focus {
    outline: none;
    transform: scale(1.05);
}
div#app .search-wrapper input:focus + label {
    font-size: 10px;
    transform: translateY(-24px) translateX(-12px);
}
div#app .search-wrapper input::-webkit-input-placeholder {
    font-size: 12px;
    color: rgba(0, 0, 0, .50);
    font-weight: 100;
}

div#app .wrapper {
    display: block;
    width: 390px;
    height: 570px;
    overflow: auto;
    margin-top:12px;
    padding-top: 0;
    /*This can be removed when finished*/
    /*border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;*/
}
div#app .card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    /*max-width: 124px;*/
    margin-bottom: 12px;
    transition: 0.15s all ease-in-out;
    text-align: left;
}
div#app .card:hover {
    /*transform: scale(1.1);*/
    background-color: #d8ffe8;
}
div#app .card .topCard{
    text-decoration: none;
    /*padding: 12px;*/
    color: #03a9f4;
    font-size: 20px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    height: 150px;
    cursor: pointer;
}

div#app .card .topCard p{
    margin: 0;
}


div#app .card img {
    height: inherit;
    float: left;
}

div #app .card .bottomCard {

}

.roll-enter-active, .roll-leave-active {
    transition: opacity .5s;
}
.roll-enter, .roll-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* ------ Sorting options ------ */

#app .options {
    margin: 10px 0;
}

/* Custom labels: the container */
.checkcontainer {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.radiobtn{
    position: absolute;
    top: 2px;
    left: 14px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
    background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
/*.checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}*/
/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}